<div class="container">

<div class="form-control">

<div class="btn-group" role="group" aria-label="Basic example">
<button class="btn btn-primary" (click)="sendPayments('date')">Send payments date Sort</button>
<button class="btn btn-primary" (click)="sendPayments('amount')">Send payments amount sort</button>
<button class="btn btn-primary" (click)="sendPayments('default')">Send payments default</button>
</div>
</div>


<h2>Successful payments</h2>
<table class="table table-striped">
  <thead>
  <th>Amount</th>
  <th>Date</th>
  <th>Source</th>
  <th>Target</th>
  </thead>
  <tbody>
  <tr *ngFor="let payment of response.savedPayments" class="table-success">
    <td>{{payment.amount}} {{payment.currencyCode}}</td>
    <td>{{payment.date | date}}</td>
    <td>{{payment.sourceAccount}}</td>
    <td>{{payment.targetAccount}}</td>
  </tr>

  </tbody>
</table>

<h2>Payments with error</h2>
<table class="table table-striped">
  <thead>
  <th>Amount</th>
  <th>Date</th>
  <th>Source</th>
  <th>Target</th>
  </thead>
  <tbody>

  <tr *ngFor="let payment of response.errorPayments" class="table-danger">
    <td class="">{{payment.amount}} {{payment.currencyCode}}</td>
    <td>{{payment.date | date}}</td>
    <td>{{payment.sourceAccount}}</td>
    <td>{{payment.targetAccount}}</td>
  </tr>
  </tbody>
</table>
</div>
